html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    background-color: #262833;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    overflow: hidden;
    min-width: 95vw;
}

head, h1, h4 {
    color: #7E8CE0;
}

#generateButton {
    border-style: none;
    background-color: #3d415e;
    color: #7E8CE0;
    font-size: 1.2em;
    padding: 8px;
    border-radius: 10px;
    pointer-events: auto;
    position: relative;
}

#generateButton:hover {
    cursor: pointer;
    background-color: #1f1f24;
    color: #f3f3f3;
    transition: 0.3s;
}

.textOutputDivs {
    color: #e0df81;
    font-size: 3em;
}

#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    min-width: 95vw;
}

header {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

#mainTitle {
    align-self: flex-start;
}

#mainSubTitle {
    align-self: flex-end;
}

main {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    min-width: 95vw;
    padding-top: 50px;
}

#textOutputContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -50px;
    width: 95vw;
    height: 100%;
}

#div1 {
    align-self: flex-start;
    width: fit-content;
}

#div2 {
    align-self: center;
    width: fit-content;
}

#div3 {
    align-self: flex-end;
    width: fit-content;
}