html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    background-color: #262833;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    min-width: 95vw;
    height: 100%;
}

head, h1, h4 {
    color: #7E8CE0;
}

#generateButton {
    border-style: none;
    background-color: #3d415e;
    color: #7E8CE0;
    font-size: 1.2em;
    padding: 8px;
    border-radius: 10px;
    pointer-events: auto;
    position: relative;
}

#generateButton:hover {
    cursor: pointer;
    background-color: #1f1f24;
    color: #f3f3f3;
    transition: 0.3s;
}

.textOutputDivs {
    color: #e0df81;
    font-size: 2em;
}

#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 95vw;
}

header {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

#mainTitle {
    align-self: flex-start;
}

#mainSubTitle {
    align-self: flex-end;
}

main {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    min-width: 95vw;
    padding-top: 50px;
}

#textOutputContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -50px;
    width: 90vw;
    max-width: 1100px;
    height: 100%;
    font-family: 'Anton', sans-serif;
}

#div1 {
    align-self: flex-start;
    width: fit-content;
    position: relative;
    color: #e0df81;
    font-size: 2em;
}

.div1animate {
    animation-name: slideAndFade;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#div2 {
    align-self: center;
    width: fit-content;
    position: relative;
    color: #e0df81;
    font-size: 2em;
}

.div2animate {
    animation-name: slideAndFade;
    animation-duration: 3s;
    animation-delay: 0.25s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#div3 {
    align-self: flex-end;
    width: fit-content;
    position: relative;
    color: #e0df81;
    font-size: 2em;
}

.div3animate {
    animation-name: slideAndFade;
    animation-duration: 3s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}

/* keyframes animation to make text boxes slide in */
@keyframes slideAndFade {
    0%   { left: -100px; opacity: 0; }
    25%  { left: 0px; opacity: 1; }
    50%  { left: 0px; opacity: 1; }
    75%  { left: 0px; opacity: 1; }
    100% { left: 0px; opacity: 1; }
}
